doctype html
html(lang="en")
  head
    title= title

    link( rel='stylesheet', href='/css/tic-tac-toe.css', type='text/css' )
    script( src='/js/jquery-1.11.0.min.js' )
    script( src='/js/jquery.tic-tac-toe.js' )
    script.
      $( document ).ready(function() {
        $("table.game").Tic_Tac_Toe();
      });

  body
    .container.wrapper
      h2 Tic Tac Toe

      table.game
        - for (var i = 0; i < 3; i++)
          tr
            td
            td
            td
