doctype html
html(lang="en")
  head
    title Tic Tac Toe Challenge

  body
    .container
      h2 Tic Tac Toe

      table.game
        tr
          td
          td
          td
        tr
          td
          td
          td
        tr
          td
          td
          td
