$font-stack: Helvetica, sans-serif;
$primary-color: #4D5360;

/* Page
================================================ */
body, .wrapper{

  font: 100% $font-stack;
  color: $primary-color;
  width: 300px;
  margin: auto;

  h2{ text-align: center; color: $primary-color }
  p{ text-align: center; color: $primary-color }

  .clearfix{ clear: both; }
}

.pull-right{
  float:right;
}
.pull-left{
  float:left;
}

/* Game Board styles
================================================ */
table.game{
  color: $primary-color;
  border-collapse:collapse;
  width: 300px;
  margin: auto;

  td{
    border:1px solid #d4d4d4;
    text-align:center;
    vertical-align:middle;
    height: 100px;
    width: 100px;
    font-size: 45px;
    &:hover{
      background-color: #e5eecc;  
    }
    span{
      margin: 0;
      padding:0;
    }
  }
  td.user_claimed{
    background-color: #e5eecc;  
    color:#363636;
  }
  td.bot_claimed{
    background-color: #d4d4d4;
    color:#363636;
  }
}


/* Plotting chart styles
================================================ */
.results{
  display: none;  

  h4{
    text-align: center;  
    margin: 5px 0;
    padding: 5px 0;
  }

  p{
    text-align: center;  
    margin: 2px;
    padding: 2px;
  }
  p.wins{ color: #65B042; }
  p.ties{ color: #949FB1; }
  p.losses{ color: #F7464A; }

  p.game-end{
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
  }
  p.new-game{
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    a{
      color: $primary-color;
      text-decoration: none;
    }
    a:hover{
      color: $primary-color;
    }
  }
}


/* Game size overrides for tablets (portrait)
================================================ */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

  body, .wrapper{

    width: 660px;

  }
  table.game{
    width: 660px;

    td{
      border:1px solid #d4d4d4;
      text-align:center;
      vertical-align:middle;
      height: 220px;
      width: 220px;
    }
  }
}
